body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

#main{
    background-color: #e5e5e5;
    border-radius: 10px;
    width: 99%;
    height: 99%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#screen-on {
    margin-top: 2%;
    border: 2px #7f7f7f solid;
    background-color: white;
    border-radius: 20px;
    color: black;
    font-size: 350%;
    text-align: right;
    width: 95%;
    height: 15%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

#screen-off {
    margin-top: 2%;
    border: 2px #7f7f7f solid;
    background-color: black;
    border-radius: 20px;
    color: black;
    font-size: 350%;
    text-align: right;
    width: 95%;
    height: 15%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

.keyboard {
    border: 2px #7f7f7f solid;
    background-color: white;
    border-radius: 20px;
    align-self: center;
    width: 95%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    gap: 2%;
    padding: 10px;
}

.buttonKeyboard { 
    font-size: 250%;
    border: 2px #7f7f7f solid;
    background-color: #e5e5e5;
    border-radius: 10px;
    width: 23%; 
    height: 15%;
}

.buttonKeyboard:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

#on{
    background-color: #e5e5e5;
    color: black;
}

#off {
    background-color: black;
    color: white;
}

#insert-on {
    color: black;
    font-size: 80%;
}

#insert-off {
    color: white;
    font-size: 80%;
}