* {
    font-family: 'Pixelify Sans', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99vh;
    background-color: rgb(255, 255, 255);
}

#main{
    background-color: #54308a;
    border-radius: 10px;
    width: 100%;
    height: 99%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

#screen-on {
    margin-top: 2%;
    background-color: rgba(43, 34, 176, 0.458);
    border: 2px solid black;
    border-radius: 20px;
    color: black;
    font-size: 400%;
    text-align: right;
    width: 88%;
    height: 15%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

#screen-off {
    margin-top: 2%;
    background-color: rgba(228, 19, 19, 0.536);
    border: 2px solid rgb(219, 29, 29);
    border-radius: 20px;
    color: black;
    font-size: 300%;
    text-align: right;
    width: 88%;
    height: 15%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

.keyboard {
    background-color: #54308a;
    border-radius: 20px;
    align-self: center;
    width: 95%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    gap: 2%;
    padding: 10px;
}

.buttonKeyboard { 
    border: 2px solid #000000;
    font-size: 250%;
    background-color: rgb(219, 161, 80);
    border-radius: 100px;
    width: 23%; 
    height: 15%;
    font-weight: bold;
    color: white;
}

.buttonKeyboard:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

#on{
    background-color: rgb(115, 189, 72);
    color: white;
}

#off {
    background-color: black;
    color: white;
}

#insert-on {
    color: rgb(219, 161, 80);
    font-size: 75%;
}

#insert-off {
    color: white;
    font-size: 80%;
}

.num {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
}

#dev {
    font-weight: bold;
    font-size: 30%;
}

#typeKeyboard {
    width: 98%;
    font-size: 200%;
}

#typeKeyboard:hover {
    -webkit-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
}

@media screen and (max-width: 767px){
    body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: rgb(255, 255, 255);
    }

    #main{
        background-color: #54308a;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 2px;
    }
    
    #screen-on {
        margin-top: 2%;
        background-color: rgba(43, 34, 176, 0.458);
        border: 2px solid black;
        border-radius: 20px;
        color: rgb(219, 161, 80);
        font-size: 400%;
        text-align: right;
        width: 88%;
        height: 15%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 10px;
    }
    
    #screen-off {
        margin-top: 2%;
        background-color: rgba(228, 19, 19, 0.536);
        border: 2px solid rgb(219, 29, 29);
        border-radius: 20px;
        color: rgb(219, 161, 80);
        font-size: 300%;
        text-align: right;
        width: 88%;
        height: 15%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 10px;
    }
    
    .keyboard {
        background-color: #54308a;
        border-radius: 20px;
        align-self: center;
        width: 95%;
        height: 70%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row; 
        justify-content: center;
        align-items: center;
        gap: 2%;
        padding: 10px;
    }
    
    .buttonKeyboard { 
        border: 2px solid #000000;
        font-size: 250%;
        background-color: rgb(219, 161, 80);
        border-radius: 100px;
        width: 23%; 
        height: 15%;
        font-weight: bold;
        color: white;
    }
    
    .buttonKeyboard:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
    
    #on{
        background-color: rgb(115, 189, 72);
        color: white;
    }
    
    #off {
        background-color: rgba(228, 19, 19, 0.536);
        border: 2px solid rgb(219, 29, 29);
        font-size: 200%;
    }
    
    #insert-on {
        color: rgb(219, 161, 80);
        font-size: 65%;
    }
    
    #insert-off {
        color: white;
        font-size: 80%;
    }
    
    .num {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        height: 100%;
        width: 100%;
    }
    
    #dev {
        font-weight: bold;
        font-size: 30%;
    }
    
    #typeKeyboard {
        width: 98%;
        font-size: 180%;
    }
    
    #typeKeyboard:hover {
        -webkit-transform: scale(1.01);
        -ms-transform: scale(1.01);
        transform: scale(1.01);
    }
}